h1 {
    text-align: center;
    color: white;
    margin-top: 10px;
}

.container {
    margin-left: 5%;
    margin-right: 5%;
}

table {
    table-layout: fixed;
    width: 100% !important;
}

th,td {
    word-wrap: break-word;
}

a {
    color: white;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.submitted {
    background-color: #fdfd96 !important;
    td {
        color: #525252;
        a {
            color: #525252;
        }

        .mat-mdc-radio-button.mat-accent {
            --mdc-radio-unselected-icon-color: #525252 !important;
            --mdc-radio-unselected-hover-icon-color: #525252 !important;
            --mdc-radio-selected-icon-color: #525252 !important;
            --mdc-radio-selected-hover-icon-color: #525252 !important;
            --mdc-radio-selected-pressed-icon-color: #525252 !important;
            --mat-mdc-radio-checked-ripple-color: #525252 !important;
        }

        ::ng-deep .mat-mdc-radio-button .mdc-form-field {
            --mdc-theme-text-primary-on-background: #525252 !important;
        }
        
        ::ng-deep .mat-mdc-form-field {
            color:#525252;
        }

        ::ng-deep .mdc-form-field-appearance-outline .mdc-form-field-outline {
            color: #525252 !important;
        }
        ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
            color: #525252;
        }
        ::ng-deep .mat-select-arrow {
            color:#525252;
        }
        ::ng-deep input {
            caret-color: #525252 !important;
        }
    }
}

.accepted {
    background-color: #77dd77 !important;
    td {
        color: #525252;
        a {
            color: #525252;
        }
        
        .mat-mdc-radio-button.mat-accent {
            --mdc-radio-unselected-icon-color: #525252 !important;
            --mdc-radio-unselected-hover-icon-color: #525252 !important;
            --mdc-radio-selected-icon-color: #525252 !important;
            --mdc-radio-selected-hover-icon-color: #525252 !important;
            --mdc-radio-selected-pressed-icon-color: #525252 !important;
            --mat-mdc-radio-checked-ripple-color: #525252 !important;
        }

        ::ng-deep .mat-mdc-radio-button .mdc-form-field {
            --mdc-theme-text-primary-on-background: #525252 !important;
        }


        ::ng-deep .mat-select-value {
            color: #525252;
        }
        ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
            color: #525252!important;
        }
        ::ng-deep .mat-select-arrow {
            color:#525252;
        }
        ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
            color: #525252;
        }
        ::ng-deep input {
            caret-color: #525252 !important;
        }
    }
}

.denied {
    background-color: #ff6961 !important;
    td {
        color: white;
        a {
            color: white;
        }
        
        .mat-mdc-radio-button.mat-accent {
            --mdc-radio-unselected-icon-color: white !important;
            --mdc-radio-unselected-hover-icon-color: white !important;
            --mdc-radio-selected-icon-color: white !important;
            --mdc-radio-selected-hover-icon-color: white !important;
            --mdc-radio-selected-pressed-icon-color: white !important;
            --mat-mdc-radio-checked-ripple-color: white !important;
        }

        ::ng-deep .mat-mdc-radio-button .mdc-form-field {
            --mdc-theme-text-primary-on-background: white !important;
        }
    }
}

.ignore {
    background-color: #818181 !important;
    td {
        color: #525252;
        a {
            color: #525252;
        }
        
        .mat-mdc-radio-button.mat-accent {
            --mdc-radio-unselected-icon-color: #525252 !important;
            --mdc-radio-unselected-hover-icon-color: #525252 !important;
            --mdc-radio-selected-icon-color: #525252 !important;
            --mdc-radio-selected-hover-icon-color: #525252 !important;
            --mdc-radio-selected-pressed-icon-color: #525252 !important;
            --mat-mdc-radio-checked-ripple-color: #525252 !important;
        }

        ::ng-deep .mat-mdc-radio-button .mdc-form-field {
            --mdc-theme-text-primary-on-background: #525252 !important;
        }
    }
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #69F1AF;
}

::ng-deep .mat-option-pseudo-checkbox.mat-pseudo-checkbox-checked {
    background-color: #69F1AF;
} 

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: white;
}

::ng-deep input {
    caret-color: white !important;
}

.mat-row {
    height: auto;
}

.mat-cell {
    padding: 8px 8px 8px 0;
}

mat-radio-group {
    height: auto;
}

.filterFields {
    ::ng-deep .mat-expansion-panel{
        margin-bottom: 10px !important;
        margin-left: 5%;
        margin-right: 5%;
    }
}