<h1>Flavor Wave - Discovered On Playlists</h1>

<!-- {{ parentForm.value | json }} -->

<mat-accordion [togglePosition]="'before'" class="filterFields">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Filter
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="filterForm">
      <mat-form-field appearance="outline">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let term of filterForm.value.search" (removed)="removeSearchTerm(term)">
            {{term}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
        <input placeholder="Add Search Term..."
           [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           (matChipInputTokenEnd)="addSearchTerm($event)">
      </mat-form-field><br>
      <mat-checkbox formControlName='unprocessed'>Unprocessed</mat-checkbox><br>
      <mat-checkbox formControlName='submitted'>Submitted/In Prog</mat-checkbox><br>
      <mat-checkbox formControlName='accepted'>Accepted</mat-checkbox><br>
      <mat-checkbox formControlName='denied'>Denied</mat-checkbox><br>
      <mat-checkbox formControlName='ignore'>Ignore/Do Not Submit</mat-checkbox><br>
    </form>
  </mat-expansion-panel>
</mat-accordion>


<p style="margin-left: 5%; color: white;">Showing {{dataSource.data.length}} of {{formArray.length}} results</p>

<form [formGroup]="parentForm">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef > Title </th>
      <td mat-cell *matCellDef="let playlist"> <a href="{{playlist.value.url}}"
          target="_blank">{{playlist.value.title}}</a> </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="likes">
      <th mat-header-cell *matHeaderCellDef > Likes </th>
      <td mat-cell *matCellDef="let playlist"> {{playlist.value.likes}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let playlist"> {{playlist.value.description}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef > Status </th>
      <td mat-cell *matCellDef="let playlist; let i = index" [formGroup]="playlist">
        <mat-radio-group formControlName="status" aria-label="Select an option" (change)="updateDB(i, 'status')">
          <mat-radio-button value="unprocessed" [checked]="playlist.value.status == 'unprocessed'">Unprocessed
          </mat-radio-button><br>
          <mat-radio-button value="submitted" [checked]="playlist.value.status == 'submitted'">Submitted/In Prog
          </mat-radio-button><br>
          <mat-radio-button value="accepted" [checked]="playlist.value.status == 'accepted'">Accepted</mat-radio-button>
          <br>
          <mat-radio-button value="denied" [checked]="playlist.value.status == 'denined'">Denied</mat-radio-button><br>
          <mat-radio-button value="ignore" [checked]="playlist.value.status == 'ignore'">Ignore/Do Not Submit
          </mat-radio-button><br>
        </mat-radio-group>
      </td>
    </ng-container>

    <ng-container matColumnDef="submittedSongs">
      <th mat-header-cell *matHeaderCellDef> Submitted Songs </th>
      <td mat-cell *matCellDef="let playlist; let i = index" [formGroup]="playlist">
        <mat-form-field appearance="outline">
          <mat-select formControlName="submittedSongs" (openedChange)="updateDB(i, 'submittedSongs')" multiple>
            <mat-option value="Wasted Dreams">Wasted Dreams</mat-option>
            <mat-option value="Theif">Theif</mat-option>
            <mat-option value="Meet Me">Meet Me</mat-option>
            <mat-option value="Don't Want To Be Friends">Don't Want To Be Friends</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="notes">
      <th mat-header-cell *matHeaderCellDef> Notes </th>
      <td mat-cell *matCellDef="let playlist; let i = index" [formGroup]="playlist">
        <mat-form-field appearance="outline">
          <input matInput formControlName="notes" (focusout)="updateDB(i, 'notes')">
        </mat-form-field>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{
      'submitted': row.value.status == 'submitted',
      'accepted': row.value.status == 'accepted',
      'denied': row.value.status == 'denied',
      'ignore': row.value.status == 'ignore'
    }"></tr>
  </table>
</form>